<h1> <%= @restaurant.name %></h1>
<p> <%= @restaurant.category %></p>
<p> <%= @restaurant.address %></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= '★' * review.rating %> stars - <%= review.content %></li>
  <% end %>
</ul>
<%= render "reviews/form", restaurant: @restaurant, review: Review.new %>
<%= link_to 'Homepage', restaurants_path %>
